:root {
  --main-text-color:#434455;
  --web-text-color: #4D5AE5;
  --studio-text-color:#2E2F42;
  --studio-footer-text-color:#E7E9FC;
  --title-h2-text-color:#2E2F42;
  --subtitle-text-color:#2E2F42;
  --transit-elem: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--main-text-color);
    background: #FFF;
}

.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #2E2F42;
    transition: color var(--transit-elem);
  }

.link:is(:active, :hover, :focus) {
    color:#404BBF;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-menu-btn {
    background-color: transparent;
    border: none;
}

.menu-icon  {
    stroke: #2E2F42;
}

.mob-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 24px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: opacity var(--transit-elem), visibility var(--transit-elem);
}

.mob-menu-nav {
    margin-top: 32px;
    margin-bottom: 45px;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-menu-item {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.menu-contacts {
    margin-bottom: 48px;
}

.menu-contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.mob-contact-item {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-soc-list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.header-nav, .contacts {
    display: none;
}

.tel {
    color: #4D5AE5;
}

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase; 
   color: var(--web-text-color);
}

.studio {
    color: var(--studio-text-color);
}

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 432px;
    margin: 0 auto;
    padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-mob-2x.jpg');
  }
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #FFF; 
    max-width: 320px;
    padding-bottom: 72px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.04em;
}

.hero-button {
    color: #FFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    display: flex;
    margin: 0 auto;
    transition: background var(--transit-elem);
}

.hero-button:is(:hover, :focus) {
    background: #404BBF;
}

.filter-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    padding: 8px 16px;
    transition: background var(--transit-elem), color var(--transit-elem), box-shadow var(--transit-elem), border-radius var(--transit-elem);
}

.filter-button:is(:active, :hover, :focus) {
    background: #404BBF;
    color: #FFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.title /*h2*/{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-h2-text-color);
    margin-bottom: 72px;
}

.subtitle /*h3*/{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--subtitle-text-color);
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.qualities {
    padding: 96px 0;
}

.qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.qualities-item {
    max-width: 100%;
}

.qualities-box-icon {
    display: none;
}

.item {
   margin-right: 24px; 
}

.item:last-of-type {
    margin-right: 0;
}

.qualities-text {
    font-weight: 500;
}

.qualities-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.services {
    display: none;
}

.team {
    background: #F4F4FD;
    padding: 96px 0 128px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-soc-list {
    display: flex;
}

.team-card {
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    text-align: center;
}

.team-text {
    margin-bottom: 8px;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#4D5AE5;
    transition: background var(--transit-elem);
}

.soc-link:is(:active, :hover, :focus) {
    cursor: pointer;
    background: #404BBF;
}

.soc-icon {
    fill: #F4F4FD;
}

.panel {
    padding: 32px 16px; 
}

.customers {
    padding: 96px 0;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #8E8F99;
    transition: border var(--transit-elem), fill var(--transit-elem);
}

.customers-link:is(:active, :hover, :focus) {
    cursor: pointer;
    border: 1px solid #404BBF;
    fill: #404BBF;;
}

.filter {
    padding: 48px 0;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    list-style: none;
    margin-bottom: 48px;
}

.job-list {
    display: flex;
   flex-wrap: wrap;
   gap: 48px;
}

.job-card {
    border: 1px solid #E7E9FC;
    transition: box-shadow var(--transit-elem);
}

.job-card:is(:active, :hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.job-card-link {
    display: block;
}

.job-card-link:is(:active, :hover, :focus) .job-photo-text {
    transform: translate(0);
}

.job-cover-wrap {
    position: relative;
    overflow: hidden;
}

.job-photo-text {
    position: absolute;
    overflow: auto;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    top: 0;
    height: 101%;
    transform: translateY(100%);
    transition: transform var(--transit-elem);
}

.footer {
    background: #2E2F42;
    padding: 96px 0;
}

.studio-footer {
    color: #F4F4FD;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-text {
    color: var(--studio-footer-text-color);
    text-align: left;
    max-width: 268px;
    margin-top: 16px;
}

.footer-soc {
    max-width: 208px;
    margin-top: 72px;
    padding: 0;
}

.soc-title {
    text-align: center;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footer-soc-item {
  margin-right: 16px;  
}

.footer-soc-item:last-of-type {
    margin-right: 0;
}

.footer-soc-link {
    background: rgba(255, 255, 255, 0.1);
    transition: background var(--transit-elem);
}

.footer-soc-link:is(:active, :hover, :focus) {
    cursor: pointer;
    background: #31D0AA;
}

.footer-email {
    max-width: 100%;
    margin: 72px 0 0 0;
    padding: 0;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-input {
    width: 398px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
}

.footer-btn {
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin-top: 16px;
    gap: 16px;
}

.no-scroll {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transit-elem), visibility var(--transit-elem);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transit-elem);
    padding: 24px;
    width: 320px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000;
    transition: background var(--transit-elem), fill var(--transit-elem), filter var(--transit-elem);
}

.modal-close-btn:is(:hover, :focus) {
    background-color: #404BBF;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    color: #2E2F42;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    outline: transparent;
    padding: 11px 38px;
    transition: border var(--transit-elem);
}

.input-wrap {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transit-elem);
}

.modal-input:is(:focus) {
    border: 1px solid #4D5AE5; 
}

.modal-input:is(:focus) + .modal-icon {
   fill:#4D5AE5; 
}

.modal-comment {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.title-input{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    color: #8E8F99;
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
    margin-top: 18px;
}

.check-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #757575;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px; 
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    fill: transparent;
    transition: fill var(--transit-elem), border-color var(--transit-elem), background var(--transit-elem);
}

.privacy-input:checked + .check-text span {
    background: #404BBF;
    border-color: #404BBF;
    fill: #F4F4FD;
    
}

.privacy-input:focus + .check-text span {
    border-color:  #404BBF;
}

.modal-btn {
    margin: 24px auto 0 auto;
    width: 169px;
    align-items: center;
    justify-content: center;
}

